.root {
  .title {
    color: #dcdce1;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 6px;
  }

  table {
    border-top: none !important;
    border: none !important;
    border-left: none !important;
  }

  tr,
  td,
  th,
  div,
  thead,
  tbody {
    border-left: none !important;
  }

  .table {
    :global {
      th,
      td {
        color: #dcdce1 !important;
      }

      tr,
      td,
      th {
        border-color: 1px solid #3a3939 !important;
        border-right: none !important;
        border-bottom: none !important;
        border-left: none !important;
      }

      .ant-table {
        background-color: transparent;

        .ant-table-thead > tr > th {
          background-color: #5e85b7;
          border-left: none;
        }
      }

      .ant-table-tbody > tr > td {
        background-color: transparent;
        border-left: none;
      }

      .ant-table-cell {
        border-color: 1px solid #3a3939 !important;
        border-right: none !important;
        border-left: none !important;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .ant-table-cell:first-child {
        border-left: none;
      }

      .ant-table-cell-row-hover {
        background-color: #3a3939 !important;
      }
    }
  }
}
